APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

AUTH_SECRET=              # generate: openssl rand -base64 32
JOB_KEY=                  # generate: openssl rand -hex 32
ENTERPRISE_EMAIL=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=